body {
    background-image: url("record.png"), url("goldCodeGlitter.gif");
    background-repeat: repeat, no-repeat;
    background-size: contain, cover;
    height: 100%;
    margin: 0;
}

@import url(https://db.onlinewebfonts.com/c/c9650c5be999acf94c02f299a486b829?family=TWENTY-SEVEN);

header {
    background-color: black;
    border-bottom: 3px ridge goldenrod;
    border-top: 3px ridge goldenrod;
    color: gold;
    font-family: "TWENTY-SEVEN";
    opacity: 0.8;
    padding: 1em;
    text-align: center;
}

.main {
    align-items: center;
    background-color: lightgray;
    border-bottom: 3px solid black;
    color:dimgrey;
    display: flex;
    flex-direction: row;
    font-family: "TWENTY-SEVEN";
    justify-content: space-around;
    margin-top: 0%;
    padding: 1em;
    text-align: center;
}

.img1, .img2, .img3, .img4, .img5, .img6 {
    animation-direction: linear;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: spin;
    position: relative;
    transform: rotate(359deg);
    width: 5%;
}

@keyframes spin {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
}

.img2, .img5 {
    animation-delay: 0.5s;
}

.question {
    align-items: center;
    background-color: black;
    border: 3px ridge goldenrod;
    color: gold;
    font-family: "TWENTY-SEVEN";
    margin-left: 20rem;
    margin-right: 20rem;
    margin-top: 5rem;
    text-align: center;
}

@font-face {font-family: "TWENTY-SEVEN"; src: url("https://db.onlinewebfonts.com/t/c9650c5be999acf94c02f299a486b829.eot"); src: url("https://db.onlinewebfonts.com/t/c9650c5be999acf94c02f299a486b829.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/c9650c5be999acf94c02f299a486b829.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/c9650c5be999acf94c02f299a486b829.woff") format("woff"), url("https://db.onlinewebfonts.com/t/c9650c5be999acf94c02f299a486b829.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/c9650c5be999acf94c02f299a486b829.svg#TWENTY-SEVEN") format("svg"); } 